{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Biblioteca</title>
    <link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="titulo"><a href="/">Biblioteca Municipal de Chimbarongo - Sede Peor es Nada</div>
        <ul class="nav-links">
            <li><a href="#about">Cátalogo</a></li>
            <li><a href="#services">Horarios</a></li>
            <li><a href="{% url 'eventos' %}">Eventos</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        </ul>
        <div class="menu-toggle">☰</div>
    </nav>

    <h2>Libros disponibles</h2>
    <ul class="menu-horizontal">
        <li><a href="#">Novela</a></li>
        <li><a href="#">Ciencia ficción</a></li>
        <li><a href="#">Crimen</a></li>
        <li><a href="#">Psicologia</a></li>
    </ul>
    <div class="container">
        <div class="card-wrapper">
            <div class="card">
                <img src="#" alt="">
            </div>
            <p class="card-text">Nombre libro 1</p>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img src="#" alt="">
            </div>
            <p class="card-text">Nombre libro 2</p>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img src="#" alt="">
            </div>
            <p class="card-text">Nombre libro3</p>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img src="#" alt="">
            </div>
            <p class="card-text">Nombre libro4</p>
        </div>
        <div class="card-wrapper">
            <div class="card">
                <img src="#" alt="">
            </div>
            <p class="card-text">Nombre libro 5</p>
        </div> 
    </div>

</body>

</html>
