{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Biblioteca</title>
    <link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
</head>

<body>
    
        <nav class="navbar">
            <div class="titulo"><a href="/">Biblioteca Municipal de Chimbarongo - Sede Peor es Nada</div>
            <ul class="nav-links">
                <li><a href="#about">Cátalogo</a></li>
                <li><a href="#services">Horarios</a></li>
                <li><a href="{% url 'eventos' %}">Eventos</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            </ul>
            <div class="menu-toggle">☰</div>
        </nav>

    <div class="main-container">
        <div class="sub-container">
        <h2>Selección popular</h2>
        </div>
        <div class="container">
            <div class="card-wrapper">
                <div class="card">
                    <img src="#" alt="">
                </div>
                <p class="card-text">libro1</p>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img src="#" alt="">
                </div>
                <p class="card-text">libro2</p>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img src="#" alt="">
                </div>
                <p class="card-text">libro3</p>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img src="#" alt="">
                </div>
                <p class="card-text">libro4</p>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img src="#" alt="">
                </div>
                <p class="card-text">libro5</p>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <img src="#" alt="">
                </div>
                <p class="card-text">libro6</p>
            </div> 
        </div>
    </div>

    <div class="categorias">
        <ul class="menu-horizontal">
            <li>
                <div class="card-wrapper">
                    <a href="#">Ciencia ficción</a>
                    <div class="card-categorias">
                        <img src="#" alt="">
                    </div>
            </li>
            <li>
                <div class="card-wrapper">
                    <a href="#">Terror</a>
                    <div class="card-categorias">
                        <img src="#" alt="">
                    </div>
            </li>
            <li>
                <div class="card-wrapper">
                    <a href="#">Fantasia</a>
                    <div class="card-categorias">
                        <img src="#" alt="">
                    </div>
            </li>
            <li>
                <div class="card-wrapper">
                    <a href="#">Cuentos</a>
                    <div class="card-categorias">
                        <img src="#" alt="">
                    </div>
            </li>
        </ul>
    </div>
</body>

</html>
