{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Biblioteca</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="titulo">Biblioteca Municipal de Chimbarongo - Sede Peor es Nada</div>
        <ul class="nav-links">
            <li><a href="#home">Inicio</a></li>
            <li><a href="#about">Acerca de</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        <div class="menu-toggle">☰</div>
    </nav>
</body>

</html>
