{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Biblioteca</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    <section class="barra-sup">
        <h3>Registrate para un 20% de descuento en tu primera compra!</h3>
        <header class="header">
            <nav class="nav">
                <a href="/" class="logo nav-link">KickStreet</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a href="/" class="nav-menu-link nav-link">Home</a>
                    </li>
                </ul>
        </header>
    </section>
    <div class="frame">
        # aca iba imagen
    </div>
    <div>
        <h2>Nuestra Selección</h2>
        <ul class="categorias">
            <li class="categorias-list">
            </li>
        </ul>
    </div>

    <div>
        <ul class="img-categoria">

        </ul>
    </div>
    
</body>

</html>
