{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Biblioteca</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="titulo"><a href="/">Biblioteca Municipal de Chimbarongo - Sede Peor es Nada</div>
        <ul class="nav-links">
            <li><a href="#about">Cátalogo</a></li>
            <li><a href="#services">Horarios</a></li>
            <li><a href="{% url 'eventos' %}">Eventos</a></li>
            <li><a href="#contact">Contacto</a></li>
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        </ul>
        <div class="menu-toggle">☰</div>
    </nav>

    <div class="img"></div>

    <p class= "parrafo-index">¡Bienvenido al sitio web de la Biblioteca Municipal de Chimbarongo, sucursal Peor es Nada!
        Aquí encontrarás toda la información relevante sobre nuestro catálogo, los eventos y actividades
        a realizar en nuestras dependencias, otros eventos que municipales que tengan lugar en Peor es Nada,
        nuestros horarios de atención y todos los canales necesarios para contactarnos.
        ¡Te esperamos!</p>

    <footer class="footer"></footer>
</body>

</html>
