{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Biblioteca</title>
    <link rel="stylesheet" href="{% static 'core/css/nosotros.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="titulo"><a href="/">Biblioteca Municipal de Chimbarongo - Sede Peor es Nada</div>
        <ul class="nav-links">
            <li><a href="{% url 'catalogo' %}">Cátalogo</a></li>
            <li><a href="{% url 'eventos' %}">Eventos</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <li><a href="{% url 'usuario-admin' %}">Panel administrador</a></li>
            {% else %}
                <li><a href="{% url 'perfil' %}">Perfil</a></li>
            {% endif %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
        <div class="menu-toggle">☰</div>
    </nav>

    <div class="img"></div>

    <section>
        <div class="main-container">
            <div class="texto">
                <h1>Centro bibliotecario</h1>
                <h2>Sede Peor es Nada</h2>
                <p>
                    El Centro Bibliotecario - Sede peor es nada dessea como misión ofrecer a la comunidad un amplio acceso al libro, la lectura, la información y las tecnologías de la información y la comunicación, con el objetivo de fomentar una cultura de lectura en nuestra localidad.
                </p>
                <ul>
                    <li>Promover la lectura desde la primera infancia y a lo largo de toda la vida en Sede Peor es Nada.</li>
                    <li>Proporcionar acceso gratuito y extenso a libros y recursos de lectura en toda la comunidad.</li>
                    <li>Incorporar la mediación de la lectura en todas nuestras actividades, estableciendo una base sólida para todos los aprendizajes.</li>
                    <li>Facilitar el acceso al gobierno digital mediante el uso de tecnologías de información y comunicación, con el fin de reducir la brecha digital.</li>
                    <li>Ofrecer un espacio acogedor y accesible para la comunidad en todas nuestras instalaciones.</li>
                    <li>Impulsar la inclusión, la movilidad social y fomentar oportunidades de desarrollo local para mejorar la calidad de vida de todos nuestros habitantes.</li>
                </ul>
            </div>
            <img src="{% static 'core/assets/peoresnada.png' %}" alt="peoresnada" class="imagen">
        </div>
    </section>


    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section about">
                <h2>Sobre Nosotros</h2>
                <p>Somos una biblioteca municipal dedicada a promover la lectura y la cultura. Ofrecemos una amplia variedad de libros y recursos para toda la comunidad.</p>
            </div>
    
            <div class="footer-section links">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="{% url 'catalogo' %}">Cátalogo</a></li>
                    <li><a href="{% url 'eventos' %}">Eventos</a></li>
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                </ul>
            </div>
    
            <div class="footer-section social">
                <h2>Nuestro Horario</h2>
                <ul>
                    <p>Lunes 10:00 AM - 17:45 PM</p>
                    <p>Martes a Viernes 9:00 AM - 17:45 PM</p>
                </ul>
            </div>
        </div>
    
        <div class="footer-bottom">
            <p>&copy; 2024 Biblioteca Municipal de Chimbarongo - Sede Peor es Nada | Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>
