{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="{% static 'core/css/perfil.css' %}">
</head>
<body>
    <div class="container">
        <h1>Perfil de Usuario</h1>
        <div class="profile-info">
            <h2>Información Personal</h2>
            <p><strong>Nombre:</strong> {{ user.username }}</p>
            <p><strong>Teléfono:</strong> {{ user.first_name }}</p>
            <p><strong>Correo:</strong> {{ user.email }}</p>
            <h2>Libros arrendados:</h2>
            <ul>
                {% for arriendo in arriendos %}
                    <li>{{ arriendo.libro.titulo }} (Arrendado el: {{ arriendo.fecha_arriendo }})</li>
                {% empty %}
                    <li>No has arrendado ningún libro.</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'index' %}">Volver a la página de inicio</a>
    </div>
</body>
</html>
